@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "HelveticaNeueLT43LightEx";
  src: url("/assets/font/HelveticaNeueLT43LightEx.otf") format("opentype");
  font-weight: 300;
  font-style: normal;
}

.pfull-4 {
  padding-top: 64px;
  padding-bottom: 64px;
  padding-left: 64px;
  padding-right: 64px;
}
